<a href="https://colab.research.google.com/github/JohnRey-P/DSA-58011/blob/main/Python_Array_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Array Module**

Example 1


---

In [1]:
import array as arr
arr.typecodes
a= arr.array('i',[1,2,3,4,5,6])
b=arr.array('f',[1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5])
print(a.typecode)
print(b.typecode)

i
f

Example 2 

---


Create array elements of array naem a to float/decimal numbers

In [2]:
a = arr.array('f',[1,2,3,4,5,6,7,8,9,10])
print (a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

Example 3

---


Insert an element:11 to the first index of the array a

In [3]:
a.insert(0,11)
print(a)

b[-1]=12
print(b)

array('f', [11.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 12.0])

In [4]:
a = arr.array('i',[1,2,3,4,5,6,7,8,9,10])
print(a)
a.insert(9,-1)
print(a)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, -1, 10])

Example 4

---

Linked List

In [5]:
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None
  def printList(self):
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next


llist = LinkedList()

llist.head = Node(1)
second = Node(2)
third = Node(3)

llist.head.next = second
second.next = third

llist.printList()

1
2
3